# Assignment #07:

### Answer #01:

In [3]:
class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, year_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.year_of_experience = year_of_experience

Employees_data = Employee("Shahzaib Ali",1235456545,"Karachi,Pakistan",100000, "Data Analyst",2023,"Bachelors","1 Year")
Employees_data.name
Employees_data.number
Employees_data.address
Employees_data.salary
Employees_data.post
Employees_data.year_of_joining
Employees_data.education
Employees_data.year_of_experience

'1 Year'

In [5]:
class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, year_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.year_of_experience = year_of_experience
    def describe_employee(self):

        print(f'The name of the Employee is : {Employees_data.name}')
        print(f'The number of the Employee is : {Employees_data.number}')
        print(f'The address of the Employee is : {Employees_data.address}')
        print(f'The salary of the Employee is : {Employees_data.salary}')
        print(f'The post of the Employee is : {Employees_data.post}')
        print(f'The year_of_joining of the Employee is : {Employees_data.year_of_joining}')
        print(f'The education of the Employee is : {Employees_data.education}')
        print(f'The year_of_experience of the Employee is : {Employees_data.year_of_experience}')

    def update_year_of_experience(self, new_year_of_experience):
        self.year_of_experience = new_year_of_experience

    def increment_of_salary(self, increased_salary):
        self.salary = increased_salary
Employees_data = Employee("Shahzaib Ali",1235456545,"Karachi,Pakistan",100000, "Data Analyst",2023,"Bachelors","1 Year")
Employees_data.describe_employee()
Employees_data.update_year_of_experience(5)
Employees_data.increment_of_salary(1100000)
Employees_data.describe_employee()

The name of the Employee is : Shahzaib Ali
The number of the Employee is : 1235456545
The address of the Employee is : Karachi,Pakistan
The salary of the Employee is : 100000
The post of the Employee is : Data Analyst
The year_of_joining of the Employee is : 2023
The education of the Employee is : Bachelors
The year_of_experience of the Employee is : 1 Year
The name of the Employee is : Shahzaib Ali
The number of the Employee is : 1235456545
The address of the Employee is : Karachi,Pakistan
The salary of the Employee is : 1100000
The post of the Employee is : Data Analyst
The year_of_joining of the Employee is : 2023
The education of the Employee is : Bachelors
The year_of_experience of the Employee is : 5

In [7]:
class Employee:
    def __init__(self, name, salary, post, year_of_experience):
        self.name = name
        self.salary = salary
        self.post = post
        self.year_of_experience = year_of_experience
    def describe_employee(self):
        print(f'The name of the Employee is : {self.name}')
        print(f'The salary of the Employee is : {self.salary}')
        print(f'The post of the Employee is : {self.post}')
        print(f'The year_of_experience of the Employee is : {self.year_of_experience}')

    def update_year_of_experience(self, new_year_of_experience):
        self.year_of_experience = new_year_of_experience

    def increment_of_salary(self, increased_salary):
        self.salary = increased_salary

employee101 = Employee("Shahzaib Ali",100000, "Data Analyst","5 Years")

# Printing Attribites Individually

print(f'The name of the Employee is : {employee101.name}')
print(f'The salary of the Employee is : {employee101.salary}')
print(f'The post of the Employee is : {employee101.post}')
print(f'The year_of_experience of the Employee is : {employee101.year_of_experience}')

# Calling Method

print("\n Describing Employee")
employee101.describe_employee()


print("\n update year of experience")
employee101.update_year_of_experience("4 years")
employee101.describe_employee()

print("\n increment of salary")
employee101.increment_of_salary(1500000)

employee101.describe_employee()

The name of the Employee is : Shahzaib Ali
The salary of the Employee is : 100000
The post of the Employee is : Data Analyst
The year_of_experience of the Employee is : 5 Years

 Describing Employee
The name of the Employee is : Shahzaib Ali
The salary of the Employee is : 100000
The post of the Employee is : Data Analyst
The year_of_experience of the Employee is : 5 Years

 update year of experience
The name of the Employee is : Shahzaib Ali
The salary of the Employee is : 100000
The post of the Employee is : Data Analyst
The year_of_experience of the Employee is : 4 years

 increment of salary
The name of the Employee is : Shahzaib Ali
The salary of the Employee is : 1500000
The post of the Employee is : Data Analyst
The year_of_experience of the Employee is : 4 years

### Answer #04:

In [14]:
class Employee:
    def __init__(self, name, age, position, salary):
        self.name = name
        self.age = age
        self.position = position
        self.salary = salary

    def describe_employee(self):
        return f"Employee Name: {self.name}, Age: {self.age}, Position: {self.position}, Salary: ${self.salary}"

    def update_position(self, new_position):
        self.position = new_position

    def update_salary(self, new_salary):
        self.salary = new_salary

    def give_raise(self, amount):
        self.salary += amount

# Creating 10 instances of Employee
employees = [
    Employee("Alice", 28, "Software Engineer", 80000),
    Employee("Bob", 35, "Project Manager", 95000),
    Employee("Charlie", 30, "Data Analyst", 70000),
    Employee("David", 45, "HR Manager", 85000),
    Employee("Eva", 32, "UX Designer", 78000),
    Employee("Frank", 29, "DevOps Engineer", 82000),
    Employee("Grace", 40, "Marketing Manager", 90000),
    Employee("Hank", 34, "Product Manager", 91000),
    Employee("Ivy", 27, "Business Analyst", 75000),
    Employee("Jack", 31, "Sales Executive", 72000)
]

# Describing each employee
for emp in employees:
    print(emp.describe_employee())

# Performing some updates
employees[0].update_position("Senior Software Engineer")
employees[1].give_raise(5000)
employees[2].update_salary(75000)
employees[3].give_raise(10000)
employees[4].update_position("Senior UX Designer")
employees[5].give_raise(7000)
employees[6].update_salary(95000)
employees[7].update_position("Senior Product Manager")
employees[8].give_raise(4000)
employees[9].update_salary(78000)

print("\n--- After Updates ---\n")

# Describing each employee after updates
for emp in employees:
    print(emp.describe_employee())

Employee Name: Alice, Age: 28, Position: Software Engineer, Salary: $80000
Employee Name: Bob, Age: 35, Position: Project Manager, Salary: $95000
Employee Name: Charlie, Age: 30, Position: Data Analyst, Salary: $70000
Employee Name: David, Age: 45, Position: HR Manager, Salary: $85000
Employee Name: Eva, Age: 32, Position: UX Designer, Salary: $78000
Employee Name: Frank, Age: 29, Position: DevOps Engineer, Salary: $82000
Employee Name: Grace, Age: 40, Position: Marketing Manager, Salary: $90000
Employee Name: Hank, Age: 34, Position: Product Manager, Salary: $91000
Employee Name: Ivy, Age: 27, Position: Business Analyst, Salary: $75000
Employee Name: Jack, Age: 31, Position: Sales Executive, Salary: $72000

--- After Updates ---

Employee Name: Alice, Age: 28, Position: Senior Software Engineer, Salary: $80000
Employee Name: Bob, Age: 35, Position: Project Manager, Salary: $100000
Employee Name: Charlie, Age: 30, Position: Data Analyst, Salary: $75000
Employee Name: David, Age: 45, Position: HR Manager, Salary: $95000
Employee Name: Eva, Age: 32, Position: Senior UX Designer, Salary: $78000
Employee Name: Frank, Age: 29, Position: DevOps Engineer, Salary: $89000
Employee Name: Grace, Age: 40, Position: Marketing Manager, Salary: $95000
Employee Name: Hank, Age: 34, Position: Senior Product Manager, Salary: $91000
Employee Name: Ivy, Age: 27, Position: Business Analyst, Salary: $79000
Employee Name: Jack, Age: 31, Position: Sales Executive, Salary: $78000